<!-- INTERNAL TABLE FOR Ansible -->
<div id="accordion">
<div>
<h3>Ansible Automation Info</h3>
<div class="net_content">
<table class="net_info">
<tbody>
  <tr>
    <td>Ansible user</td>
    <td class="sub_net_info">asdf</td>
  </tr>
  <tr>
    <td>Ansible Mgmt IP</td>
    <td class="sub_net_info">asdf</td>
  </tr>
  <tr>
    <td>Ansible core version</td>
    <td class="sub_net_info">asdf</td>
  </tr>
  <tr>
    <td>Ansible Python</td>
    <td class="sub_net_info">asdf</td>
  </tr>
  <tr>
    <td>Python version</td>
    <td class="sub_net_info">asdf</td>
  </tr>
</tbody>
</table>
</div>
</div>
</div>
<!-- END INTERNAL TABLE FOR Ansible -->
