<!-- INTERNAL TABLE FOR Ansible -->
<div id="accordion">
{% for ec2_region in all_ec2_regions %}
{% for key, value in ec2_region.items() %}
{% set running = value.ec2_instance_info.instances | selectattr('state.name', 'equalto', "running") | length %}
{% set stopped = value.ec2_instance_info.instances | selectattr('state.name', 'equalto', "stopped") | length %}
{% set total = value.ec2_instance_info.instances | length %}
<div>
<h3><div id="region_title">{{ key | default('unknown') }}</div> &nbsp;&nbsp;<div class="instances_highlight">{% if total | length > 0 %} - {% if running | length > 0 %}<div class="instances_running">{% endif %}{{ running }} instances running{% if running | length > 0 %}</div>{% endif %} - {{ stopped }} stopped ({{ total }} total){% endif %}</div></h3>
<div class="net_content">
<p class="description">There are <strong>{{ value.vpc_info.vpcs | length }}</strong> AWS VPCs configured and <strong>{{ value.ec2_instance_info.instances | length }}</strong> instances on region {{ key | default('unknown') }}</p>

<table class="net_info">
<tbody>
  <tr>
    <th class="vpc_info">VPC name</th>
    <th class="vpc_info">VPC id</th>
    <th class="vpc_info">instances</th>
    <th class="vpc_info">CIDR block'</th>
    <th class="vpc_info" id="cidr_assoc">CIDR block associations</th>
    <th class="vpc_info">IGW</th>
  </tr>
  {% for vpc in value.vpc_info.vpcs %}
  <tr>
  <td>{{ vpc.tags['Name'] | default('Unspecified, missing name tag') }}</td>
  <td>{{ vpc.id }}</td>
  <td>{{ value.ec2_instance_info.instances | selectattr('vpc_id', 'equalto', vpc.id ) | length -}}</td>
  <td>{{ vpc.cidr_block }}</td>
  <td>{{ vpc.cidr_block_association_set | length | default('0') }}</td>
  {% set ns = namespace(igwfound=False) %}
  {%- for igw in value.igw_info.internet_gateways -%}
  {% if igw['attachments'] | length > 0 %}
  {% if igw['attachments'][0]['vpc_id'] == vpc.id %}
  <td>{{ igw['internet_gateway_id'] }}</td>
  {% set ns.igwfound = True %}
  {% endif %}
  {% endif %}
  {%- endfor -%}
  {% if not ns.igwfound %}
  <td>No IGW found</td>
  {% endif %}
  </tr>
  {% endfor %}
</tbody>
</table>
</div>
</div>
{% endfor %}
{% endfor %}
</div>
<!-- END INTERNAL TABLE FOR Ansible -->
