<!-- INTERNAL TABLE FOR Ansible -->
{% set azure_vars = hostvars["localhost"] %}
{% set real_location = azure_vars.all_regions.response | selectattr('metadata.regionType', 'equalto', "Physical") %}

<div id="accordion">
{% for location in real_location %}
{% set running = azure_vars.azure_vms.vms | selectattr('location', 'equalto', location.name) | selectattr('power_state', 'equalto', "running") | length %}
{% set stopped = azure_vars.azure_vms.vms | selectattr('location', 'equalto', location.name) | selectattr('power_state', 'equalto', "stopped") | length %}
{% set total = azure_vars.azure_vms.vms | selectattr('location', 'equalto', location.name) | length %}
<div>
<h3><div id="region_title">{{ location.name }} - {{ location["metadata"]["physicalLocation"] | default('unknown') }}</div><div class="instances_highlight">{% if total > 0 %}{% if running > 0 %}<div class="instances_running">{% endif %}<span class="ui-accordion-header-icon ui-icon ui-icon-power"></span>{{ running }} instances running{% if running > 0 %}</div>{% endif %}<div class="instances_stopped"><span class="ui-accordion-header-icon ui-icon ui-icon-stop"></span>{{ stopped }} stopped ({{ total }} total)</div>{% endif %}</div></h3>
<div class="net_content">
<p class="description">some cool info for this region</p>

<table class="net_info">
<tbody>
  <tr>
    <th class="vpc_info">Virtual Network name</th>
    <th class="vpc_info">VPC id</th>
    <th class="vpc_info">instances <br> running</th>
    <th class="vpc_info">instances <br> stopped</th>
    <th class="vpc_info">CIDR block</th>
    <th class="vpc_info" id="cidr_assoc">CIDR block<br> associations</th>
  </tr>
{% set region_specific_networks = azure_vars.azure_networks.virtualnetworks | selectattr('location', 'equalto', location.name) %}
{% for virtual_network in region_specific_networks %}
  <tr>
  <td>test</td>
  <td>test2</td>
  <td style="text-align: center;">test3</td>
  <td style="text-align: center;">test4</td>
  <td>test5</td>
  <td style="text-align:center;">test6 }}</td>
  </tr>
{% endfor %}  
</tbody>
</table>
</div>
</div>
{% endfor %}
</div>
<!-- END INTERNAL TABLE FOR Ansible -->
