<!-- INTERNAL TABLE FOR Ansible -->
{% set real_location = hostvars["localhost].all_regions.response | selectattr('metadata.regionType', 'equalto', "Physical") %}

<div id="accordion">
{% for location in real_location %}
<div>
<h3><div id="region_title">{{ location.name }} - {{ location["metadata"]["physicalLocation"] | default('unknown') }}</div></h3>
<div class="net_content">
<p class="description">some cool info for this region</p>

<table class="net_info">
<tbody>
  <tr>
    <th class="vpc_info">VPC name</th>
    <th class="vpc_info">VPC id</th>
    <th class="vpc_info">instances <br> running</th>
    <th class="vpc_info">instances <br> stopped</th>
    <th class="vpc_info">CIDR block</th>
    <th class="vpc_info" id="cidr_assoc">CIDR block<br> associations</th>
  </tr>
</tbody>
</table>
</div>
</div>
{% endfor %}
</div>
<!-- END INTERNAL TABLE FOR Ansible -->
