<center>
<p>This report was created by the <a href="https://github.com/ansible-cloud/aws_demos" style="color:#ffffff">Ansible Cloud GitHub organization</a><br><br>
If you are new to Ansible Automation check out the following links:<br>
<a href="https://www.redhat.com/en/engage/redhat-ansible-automation-202108061218">🖱️ Interactive labs for Red Hat Ansible Automation Platform</a><br>
<a href="https://youtube.com/ansibleautomation">🎬 Ansible Official YouTube</a><br>
</p>
</center>