There are {{ vpc_info.vpcs | length }} AWS VPCs configured and {{ ec2_instance_info.instances | length }} instances on region {{ ec2_region | default('us-east-1') }}

{{ '%-38s'|format('VPC name')}}{{ '%-18s'|format('cidr_block') }}{{ '%-28s'|format('VPC id') }}{{ '%-26s'|format('cidr block associations') }}{{ '%-12s'|format('instances') }}{{ '%-22s'|format('IGW') }}
{% for vpc in vpc_info.vpcs %}
{{ '%-38s'|format(vpc.tags['Name'] | default('Unspecified, missing name tag')) }}{{ '%-18s'|format(vpc.cidr_block) }}{{ '%-28s' | format(vpc.id) }}{{ '%-26s' | format(vpc.cidr_block_association_set | length | default('0')) }}{{ '%-12s'|format(ec2_instance_info.instances | selectattr('vpc_id', 'equalto', vpc.id ) | length) -}}
{% set ns = namespace(igwfound=False) %}
{%- for igw in igw_info.internet_gateways -%}
{% if igw['attachments'] | length > 0 %}
{% if igw['attachments'][0]['vpc_id'] == vpc.id %}
{{ '%-22s'|format(igw['internet_gateway_id']) }}
{% set ns.igwfound = True %}
{% endif %}
{% endif %}
{%- endfor -%}
{% if not ns.igwfound %}
{{ '%-22s'|format('No IGW found') }}
{% endif %}
{% endfor %}
